.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 233;
}

.header__logo{
    width: 7rem;
    object-fit: contain;
}

.header__icon{
    padding: 1.25rem;
}